# Python
__pycache__/
*.pyc
venv/
env/
.env

# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore
docker-compose.yml

# Database
*.db
*.sqlite
*.sqlite3

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Project specific
README.md
LICENSE
screenshot.png